<!DOCTYPE html>
<html lang="en">
<head>

    <title>Live Vip Predictor</title>
    <meta http-equiv="refresh" content="180" />
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo+Narrow">
    <meta property="og:type" content="website" />
    <meta http-equiv="content-language" content="en-us" />
    <meta name="viewport" content="width=1500">
    <meta charset="utf-8" />
    <script type="text/javascript">window.NREUM||(NREUM={});NREUM.info = {"beacon":"beacon-5.newrelic.com","errorBeacon":"bam.nr-data.net","licenseKey":"34fc4c592f","applicationID":"2170430","transactionName":"NgcBZ0EACkJSBxFeVg9NJ1xHLwFFcAsLQ0sODg9WQU4jQ1wRFRhwDwYGSw==","queueTime":0,"applicationTime":3766,"ttGuid":"2BBC43F22879575","agent":"js-agent.newrelic.com/nr-411.min.js"}</script><script type="text/javascript">window.NREUM||(NREUM={}),__nr_require=function(t,n,e){function r(e){if(!n[e]){var o=n[e]={exports:{}};t[e][0].call(o.exports,function(n){var o=t[e][1][n];return r(o?o:n)},o,o.exports)}return n[e].exports}if("function"==typeof __nr_require)return __nr_require;for(var o=0;o<e.length;o++)r(e[o]);return r}({D5DuLP:[function(t,n){function e(t,n){var e=r[t];return e?e.apply(this,n):(o[t]||(o[t]=[]),void o[t].push(n))}var r={},o={};n.exports=e,e.queues=o,e.handlers=r},{}],handle:[function(t,n){n.exports=t("D5DuLP")},{}],G9z0Bl:[function(t,n){function e(){var t=l.info=NREUM.info;if(t&&t.agent&&t.licenseKey&&t.applicationID&&p&&p.body){l.proto="https"===f.split(":")[0]||t.sslForHttp?"https://":"http://",i("mark",["onload",a()]);var n=p.createElement("script");n.src=l.proto+t.agent,p.body.appendChild(n)}}function r(){"complete"===p.readyState&&o()}function o(){i("mark",["domContent",a()])}function a(){return(new Date).getTime()}var i=t("handle"),u=window,p=u.document,s="addEventListener",c="attachEvent",f=(""+location).split("?")[0],l=n.exports={offset:a(),origin:f,features:[]};p[s]?(p[s]("DOMContentLoaded",o,!1),u[s]("load",e,!1)):(p[c]("onreadystatechange",r),u[c]("onload",e)),i("mark",["firstbyte",a()])},{handle:"D5DuLP"}],loader:[function(t,n){n.exports=t("G9z0Bl")},{}]},{},["G9z0Bl"]);</script>
    <link href="http://vippredictorstorage.blob.core.windows.net/content-theme-20140619/favicon.png" rel="shortcut icon" type="image/x-icon" />
    <link href="http://vippredictorstorage.blob.core.windows.net/content-theme-20140619/structure.css" rel="stylesheet"/>
    <link href="http://vippredictorstorage.blob.core.windows.net/content-theme-20140619/font.css" rel="stylesheet"/>
    <script src="http://vippredictorstorage.blob.core.windows.net/content-script-20140619/modernizr-2.6.2.js"></script>
    <script src="http://vippredictorstorage.blob.core.windows.net/content-script-20140619/jquery-1.9.1.min.js"></script>
    <script src="http://vippredictorstorage.blob.core.windows.net/content-script-20140619/jquery-ui-1.10.2.min.js"></script>
    <script src="http://vippredictorstorage.blob.core.windows.net/content-script-20140619/jquery.unobtrusive-ajax.min.js"></script>
    <script src="http://vippredictorstorage.blob.core.windows.net/content-script-20140619/jquery.validate.min.js"></script>
    <script src="http://vippredictorstorage.blob.core.windows.net/content-script-20140619/jquery.validate.unobtrusive.min.js"></script>
    <script src="http://vippredictorstorage.blob.core.windows.net/content-script-20140619/jquery.ui.portal.js"></script>
    <script src="http://vippredictorstorage.blob.core.windows.net/content-script-20140619/jquery.globalize.js"></script>
    <script src="http://vippredictorstorage.blob.core.windows.net/content-script-20140619/jquery.countdown.min.js"></script>
    <script src="http://vippredictorstorage.blob.core.windows.net/content-script-20140619/jquery.maskedinput.js"></script>
    <script src="http://vippredictorstorage.blob.core.windows.net/content-script-20140619/jquery.validator.adapters.js"></script>
    <script src="http://vippredictorstorage.blob.core.windows.net/content-script-20140619/jquery.timeago.js"></script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-41096365-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

</head>
<body>

<article>

    <%= yield %>

</article>


</body>
</html>
